*{
    padding: 0;
    margin: 0;
}
#container{
    display: flex;
    flex-flow: row wrap;
}
img{
    border-radius: 50%;
}
i{
    align-self: flex-end;
}
.box{
    border: 1px solid black;
    margin: 1em;
    text-align: center;

}